body {
    background-image: url("https://la-gema-azul.github.io/carrousel1.jpg");
    background-size: cover;
}

.bg-body-tertiary {
    background-color: rgb(50, 49, 47) !important;
}

.nav-link {
    color: white !important;
}